<div class="jumbotron text-center">
	<h1>Profile Controller</h1>

	<p>{{ tagline }}</p>
</div>
<form name="addProfileForm" id="addProfileForm" class="form-horizontal well" ng-submit="createProfile(newProfile, addProfileForm.$valid);" ng-hide="isEditing" novalidate>
	<h2>Create Profile</h2>
	<hr />
	<div class="form-group" ng-class="{ 'has-error': addProfileForm.atHandle.$touched && addProfileForm.atHandle.$invalid }">
		<label for="addAtHandle">At Handle</label>
		<div class="input-group">
			<div class="input-group-addon"><i class="fa fa-at"></i></div>
			<input type="text" name="atHandle" id="addAtHandle" class="form-control" maxlength="32" ng-model="newProfile.atHandle" ng-minlength="1" ng-maxlength="32" ng-required="true" />
		</div>
		<div class="alert alert-danger" role="alert" ng-messages="addProfileForm.atHandle.$error" ng-if="addProfileForm.atHandle.$touched" ng-hide="addProfileForm.atHandle.$valid">
			<p ng-message="required">At handle is required.</p>
			<p ng-message="minlength">At handle cannot be empty.</p>
			<p ng-message="maxlength">At handle is too long.</p>
		</div>
	</div>
	<div class="form-group" ng-class="{ 'has-error': addProfileForm.email.$touched && addProfileForm.email.$invalid }">
		<label for="addEmail">Email</label>
		<div class="input-group">
			<div class="input-group-addon"><i class="fa fa-envelope"></i></div>
			<input type="email" name="email" id="addEmail" class="form-control" maxlength="32" ng-model="newProfile.email" ng-minlength="1" ng-maxlength="128" ng-required="true" />
		</div>
		<div class="alert alert-danger" role="alert" ng-messages="addProfileForm.email.$error" ng-if="addProfileForm.email.$touched" ng-hide="addProfileForm.email.$valid">
			<p ng-message="email">Email is not a valid Email address.</p>
			<p ng-message="required">Email is required.</p>
			<p ng-message="minlength">Email cannot be empty.</p>
			<p ng-message="maxlength">Email is too long.</p>
		</div>
	</div>
	<div class="form-group" ng-class="{ 'has-error': addProfileForm.phone.$touched && addProfileForm.phone.$invalid }">
		<label for="addPhone">Phone Number</label>
		<div class="input-group">
			<div class="input-group-addon"><i class="fa fa-phone"></i></div>
			<input type="text" name="phone" id="addPhone" class="form-control" maxlength="32" ng-model="newProfile.phone" ng-minlength="1" ng-maxlength="32" />
		</div>
		<div class="alert alert-danger" role="alert" ng-messages="addProfileForm.phone.$error" ng-if="addProfileForm.phone.$touched" ng-hide="addProfileForm.phone.$valid">
			<p ng-message="maxlength">Phone is too long.</p>
		</div>
	</div>
	<button type="submit" class="btn btn-info btn-lg" ng-disabled="addProfileForm.$invalid"><i class="fa fa-user-plus"></i> Create Profile</button>
	<button type="reset" class="btn btn-warning btn-lg"><i class="fa fa-ban"></i> Clear</button>
</form>
<form name="editProfileForm" id="editProfileForm" class="form-horizontal well" ng-submit="updateProfile(editedProfile, editProfileForm.$valid);" ng-show="isEditing" novalidate>
	<h2>Edit Profile</h2>
	<hr />
	<div class="form-group" ng-class="{ 'has-error': editProfileForm.atHandle.$touched && editProfileForm.atHandle.$invalid }">
		<label for="editAtHandle">At Handle</label>
		<div class="input-group">
			<div class="input-group-addon"><i class="fa fa-at"></i></div>
			<input type="text" name="atHandle" id="editAtHandle" class="form-control" maxlength="32" ng-model="editedProfile.atHandle" ng-minlength="1" ng-maxlength="32" ng-required="true" />
		</div>
		<div class="alert alert-danger" role="alert" ng-messages="editProfileForm.atHandle.$error" ng-if="editProfileForm.atHandle.$touched" ng-hide="editProfileForm.atHandle.$valid">
			<p ng-message="required">At handle is required.</p>
			<p ng-message="minlength">At handle cannot be empty.</p>
			<p ng-message="maxlength">At handle is too long.</p>
		</div>
	</div>
	<div class="form-group" ng-class="{ 'has-error': editProfileForm.email.$touched && editProfileForm.email.$invalid }">
		<label for="editEmail">Email</label>
		<div class="input-group">
			<div class="input-group-addon"><i class="fa fa-envelope"></i></div>
			<input type="email" name="email" id="editEmail" class="form-control" maxlength="32" ng-model="editedProfile.email" ng-minlength="1" ng-maxlength="128" ng-required="true" />
		</div>
		<div class="alert alert-danger" role="alert" ng-messages="editProfileForm.email.$error" ng-if="editProfileForm.email.$touched" ng-hide="editProfileForm.email.$valid">
			<p ng-message="email">Email is not a valid Email address.</p>
			<p ng-message="required">Email is required.</p>
			<p ng-message="minlength">Email cannot be empty.</p>
			<p ng-message="maxlength">Email is too long.</p>
		</div>
	</div>
	<div class="form-group" ng-class="{ 'has-error': editProfileForm.phone.$touched && editProfileForm.phone.$invalid }">
		<label for="editPhone">Phone Number</label>
		<div class="input-group">
			<div class="input-group-addon"><i class="fa fa-phone"></i></div>
			<input type="text" name="phone" id="editPhone" class="form-control" maxlength="32" ng-model="editedProfile.phone" ng-minlength="1" ng-maxlength="32" />
		</div>
		<div class="alert alert-danger" role="alert" ng-messages="editProfileForm.phone.$error" ng-if="editProfileForm.phone.$touched" ng-hide="editProfileForm.phone.$valid">
			<p ng-message="maxlength">Phone is too long.</p>
		</div>
	</div>
	<button type="submit" class="btn btn-info btn-lg" ng-disabled="editProfileForm.$invalid"><i class="fa fa-user"></i> Edit Profile</button>
	<button type="reset" class="btn btn-warning btn-lg" ng-click="cancelEditing();"><i class="fa fa-ban"></i> Clear</button>
</form>
<alert ng-repeat="alert in alerts" type="{{ alert.type }}" close="closeAlert($index)">{{ alert.msg }}</alert>
<h2>Existing Profiles</h2>
<table class="table table-bordered table-hover table-responsive table-striped">
	<tr>
		<th>At Handle</th>
		<th>Email</th>
		<th>Phone Number</th>
		<th>Actions</th>
	</tr>
	<tr ng-repeat="profile in profiles">
		<td>{{ profile.atHandle }}</td>
		<td>{{ profile.email }}</td>
		<td>{{ profile.phone }}</td>
		<td>
			<button class="btn btn-info" ng-click="setEditedProfile(profile);"><i class="fa fa-pencil"></i></button>
			<form class="inline" ng-submit="deleteProfile(profile._id);">
				<button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i></button>
			</form>
		</td>
	</tr>
</table>